<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/crud/home']">RPS Systems</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Opciones y botones del lado izquierdo del menú de la barra de navegación  -->
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/crud/home']">Inicio</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/crud/trabajo']">Trabajo</a></li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <!-- Opciones y botones del lado derecho del menú de la barra de navegación  -->
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/crud/perfil']">Perfil</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/crud/logout']">Logout</a></li>
        </ul>
    </div>
</nav>